body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/treasure-island.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}
.container{
    background-image: url("images/table.png");
    background-size: cover;
    width: 250px;
    length: 800px;
    margin: 150px auto;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 4px 4px goldenrod;
}
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}